.error-message {
    text-align: center;
    font-size: 2rem;
    margin-top: 0.5rem;
}

@media screen and (max-width: 1000px) {
    .error-message {
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}